* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    font-family: ·L³n¥¿¶ÂÅé,arial !important;
}

    body::-webkit-scrollbar {
        width: 15px;
    }

    body::-webkit-scrollbar-track {
        background: #F0F0F0;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #BEBEBE;
        border-radius: 100px;
    }

.about-section {
    background: url('../../image/About US/IMG_0927.JPG') no-repeat right;
    background-size: 55%;
    overflow: hidden;
    padding: 100px 0;
    border-radius: 15px;
}

.inner-container {
    width: 55%;
    float: left;
    background-color: #fdfdfd;
    padding: 150px;
    border-radius: 15px;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

    .inner-container h1 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }

.text {
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-top: 10px;
    font-weight: bold;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 15px;
}

@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;
    }
}

.footer {
    background-image: linear-gradient(360deg, #a8edea 0%, #fed6e3 100%);
    border-radius: 30px 30px 0px 0px;
}

.index-head {
    background-image: linear-gradient(180deg, #a8edea 0%, #fed6e3 100%);
    border-radius: 0px 0px 15px 15px;
    font-weight: bold;
}

.go-top {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: -40px;
    right: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    color: #FFFFFF;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 30px;
}

    .go-top.show {
        bottom: 20px;
    }

    .go-top:hover {
        background-color: #5DBA9D;
        color: #FFFFFF;
    }