* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /*Gradual Setting = #e9defa ¡÷ #fbfcdb and -20deg*/
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.about-section {
    background: url('../../image/About US/IMG_0927.JPG') no-repeat right;
    background-size: 55%;
    overflow: hidden;
    padding: 100px 0;
    border-radius: 15px;
}

.inner-container {
    width: 55%;
    float: left;
    background-color: #fdfdfd;
    padding: 150px;
    border-radius: 15px;
    /*Gradual Setting = #d299c2 ¡÷ #fef9d7 and to top*/
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

    .inner-container h1 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }

.text {
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-top: 10px;
    font-weight: bold;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 15px;
}

@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;
    }
}

.footer {
    background-image: linear-gradient(360deg, #a8edea 0%, #fed6e3 100%);
    border-radius: 30px 30px 0px 0px;
}

.index-head {
    background-image: linear-gradient(180deg, #a8edea 0%, #fed6e3 100%);
    border-radius: 0px 0px 15px 15px;
    font-weight: bold;
}
