.carousel-image-80dark {
    border-radius: 30px;
    -webkit-filter: brightness(80%);
    height: 500px;
}

.carousel-image-90dark {
    border-radius: 30px;
    -webkit-filter: brightness(90%);
    height: 500px;
}

.row-image {
    border-radius: 10px;
    background: none;
    border:0;
}

.footer {
    background-image: linear-gradient(360deg, #a8edea 0%, #fed6e3 100%);
    border-radius: 30px 30px 0px 0px;
}

.index-head {
    background-image: linear-gradient(180deg, #a8edea 0%, #fed6e3 100%);
    border-radius: 0px 0px 15px 15px;
    font-weight: bold;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #F0F0F0;
}

body::-webkit-scrollbar-thumb {
    background-color: #BEBEBE;
    border-radius: 100px;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.bear-radius {
    border-radius: 20px;
}